@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4 mb-4">StellarAdmin Store Sample</h1>
    <p>
        This is a sample application for <a href="https://www.stellaradmin.com" target="_blank">StellarAdmin</a> that demonstrates how 
        you can use StellarAdmin with Entity Framework Core. This application demonstrates the following:
    </p>
    <p class="text-center mt-5">
        <a href="/StellarAdmin" class="btn btn-lg btn-primary">Open StellarAdmin Dashboard</a>
    </p>
</div>